body{
    margin: 0;
    font-family: Georgia, serif;
    background: #e9e9e9;
}

.container{
    width: 80%;
    margin: 50px auto;
    background: #3b1364;
    padding: 30px;
    text-align: center;
}

h1{
    background: #160d4b;
    color: #d7b0ff;
    padding: 20px;
    margin-top: 0;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    width: 220px;;
    height: 140px;
    object-fit: cover;
    border-radius: 20px;
    border: 10px solid #b9f3e5;
}

.botao{
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 20px;
    border: none;
    background: transparent;
    color: #160d4b;
    cursor: pointer;
    transition: 0.3s;
}

.botao:hover{
    
}