*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #efefef;
    font-family: Georgia, serif;
}

/* CAIXA PRINCIPAL */
.caixa{
    width: 100%;
    min-height: 100vh;

    background: #d9b5ef;
    border: 5px solid #4d1b74;

    display: flex;
    flex-direction: column;
}

/* TOPO */
.topo{
    background: #120d4f;
    padding: 25px;
    text-align: center;
}

.topo h1{
    color: #d7b7ff;
    font-size: 42px;
    font-weight: normal;
}

/* CONTEÚDO */
.conteudo{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 80px;

    padding: 60px 20px;

    flex-wrap: wrap;
}

/* CARD */
.card{
    text-align: center;
}

/* IMAGEM */
.card img{
    width: 220px;
    height: 140px;

    object-fit: cover;

    border: 12px solid #bdf1e4;
    border-radius: 25px;

    transition: 0.3s;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.card img:hover{
    transform: translateY(-8px);
}

/* BOTÃO */
.card button{
    margin-top: 15px;

    background: transparent;
    border: none;

    font-size: 28px;
    color: #120d4f;

    cursor: pointer;

    font-family: Georgia, serif;

    transition: 0.3s;
}

.card button:hover{
    transform: scale(1.05);
    text-decoration: underline;
}

/* TEXTO CENTRAL */
.texto{
    width: 320px;

    margin: 20px auto 40px;

    background: #d9d9d9;

    border: 2px solid gray;
    border-radius: 12px;

    text-align: center;

    padding: 15px;

    color: #120d4f;
    font-size: 20px;

    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

/* RODAPÉ */
.rodape{
    background: #120d4f;
    color: white;

    padding: 15px 25px;

    margin-top: auto;
}

.rodape p{
    margin: 5px 0;
}

/* SEÇÕES */
section{
    min-height: 100vh;

    padding: 60px;

    background: rgb(183, 7, 7);
}

.clique{
    display: block;

    margin-top: 8px;

    font-size: 14px;

    color: #571919;

    opacity: 0.8;

    font-style: italic;
}