*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(180deg,#0b1320,#111c2e);
    color:#e5e7eb;
}

/* NAV */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;
}

nav h2{
    color:#fbbf24;
}

.links a{
    margin-left:20px;
    text-decoration:none;
    color:#e5e7eb;
    transition:.3s;
}

.links a:hover{
    color:#2dd4bf;
}

/* HERO */

.hero{
    min-height:100vh;
}

.hero-content{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:64px;
    color:#fbbf24;
}

.hero p{
    max-width:700px;
    margin:20px auto;
    color:#94a3b8;
}

/* BOTÃO */

#btn{
    padding:14px 30px;
    border:none;
    border-radius:30px;

    background:#2dd4bf;
    color:#0b1320;

    font-weight:700;
    cursor:pointer;

    transition:.3s;
}

#btn:hover{
    transform:scale(1.05);
}

/* SEÇÕES */

section{
    margin: 0;
    padding:80px 20px;
    text-align:center;
}

body {
    overflow-x: hidden;
}

h2{
    color:#fbbf24;
    margin-bottom:20px;
}

/* CARDS */

.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}

.card{
    width:280px;
    padding:25px;

    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.08);

    border-radius:20px;

    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    border-color:#2dd4bf;
}

/* CONTADOR */

#numero{
    font-size:70px;
    color:#2dd4bf;
}

/* FOOTER */

footer{
    padding:30px;
    text-align:center;
    background:#0b1320;
    margin-top:0;
}

/* SOBRE COM IMAGEM */

.sobre-container{
    display:flex;
    align-items:center;
    justify-content:center;

    gap:40px;

    flex-wrap:wrap;

    margin-top:40px;
}

.sobre-container img{
    width:420px;
    max-width:90%;

    border-radius:20px;

    border:2px solid #2dd4bf;

    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.sobre-texto{
    max-width:500px;

    text-align:left;

    color:#94a3b8;

    font-size:18px;

    line-height:1.6;
}
html, body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
}

section:last-of-type{
    margin-bottom: 0;
}
.impacto-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:40px;
}

.box{
    background:rgba(255,255,255,0.05);
    padding:30px;
    border-radius:20px;
    text-align:center;
    width:220px;
    border:1px solid rgba(255,255,255,0.1);
    transition:.3s;
}

.box:hover{
    transform:translateY(-8px);
    border-color:#2dd4bf;
}

.box h3{
    font-size:50px;
    color:#2dd4bf;
}
.btn-explorar{
    display:inline-block;
    padding:14px 30px;
    border-radius:30px;
    background:#2dd4bf;
    color:#0b1320;
    font-weight:700;
    text-decoration:none;
    transition:.3s;
}

.btn-explorar:hover{
    transform:scale(1.05);
}